body{
    background-color: #cacaca;
}
#corpo, .listas, .links, .fragmentos
{
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: #fff;
    border: 10px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
}
#corpo h1 {
    margin-left: 30px;
    text-align: center;
}
#corpo p,
 .fragmentos p
 {
    text-align: justify;
    margin: 0 30px;
    padding-bottom: 10px;
}
#corpo .definicao{
    font-family: inherit;
    color: #9597a0;
}
#corpo p a{
    text-decoration: none;
    color: #00f;
}
.listas h2, 
.links h2,
.fragmentos h2
{
    margin-left: 30px;
    text-align: center;
}
.listas .lista-ordenada,
.listas .lista-nao-ordenada
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .listas .lista-ordenada ol,
.listas .lista-nao-ordenada ul
{
    margin-left: 30px;
} */

